# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.pot

# Django stuff:
db.sqlite3
media/
staticfiles/

# PostgreSQL (no suele generar archivos locales, pero por si acaso)
*.pgsql
*.psql

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage and test
.coverage
.tox/
.eggs/
htmlcov/
.pytest_cache/